.about-me {
    .border {
        .about-image {
            width: 90%;
            background: rgb(5, 5, 5);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin: 0 auto;
            border-radius: 20px;
        }
    }
    .about-title {
        font-size: 3rem;
        font-weight: 300;
        text-align: center;
        .letter-a {
            font-size: 3.5rem;
            color: $lightRed;
            font-weight: 500;
        }
    }
    .about-text {
        color: #333232;
        font-size: 1.4rem;
        margin: 0 auto;
    }
}

@include tablet {
    .about-me {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 4rem 0;
        justify-content: center;
        .border {
            margin: 0 auto;
            border: .5rem solid $lightRed;
            border-radius: 10px;
            width: 30rem;
            position: relative;
            height: 32.5rem;
            top: 4rem;
            .about-image {
                width: 30rem;
                background: rgb(5, 5, 5);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                margin: 0 auto;
                border-radius: 10px;
                position: absolute;
                top: -3rem;
                left: .8rem;
                height: 35rem;
                img {
                    display: block;
                }
            }
        }
    }
}

@include desktop {
    .about-me {
        grid-template-columns: minmax(max-content, 600px) minmax(20rem, 60rem);
    }
}