.header {
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    min-width: 320px;
    width: 100vw;
    background-color: $headerbg;
    .hamburger {
        height: 60px;
        width: 60px;
        display: inline-block;
        border: 2px solid white;
        border-radius: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
        cursor: pointer;
        transform: scale(.6);
        margin-right: 2vw;
        &::after {
            position: absolute;
            content: '';
            height: 100%;
            width: 100%;
            border-radius: 50%;
            border: 3px solid white;
            animation: hamburger_puls 1s ease infinite;
        }
        .bar {
            width: 3rem;
            background-color: $white;
            height: .2rem;
            position: relative;
            &::after,
            &::before {
                content: '';
                width: 3rem;
                height: .2rem;
                background-color: $white;
            }
            &::after {
                position: absolute;
                left: 0;
                top: 8px;
                width: 100%;
                transition: top .3s ease-in;
            }
            &::before {
                position: absolute;
                left: 0;
                bottom: 8px;
                width: 100%;
                transition: bottom .3s ease-in;
            }
        }
        &.active .bar::after {
            top: 0;
        }
        &.active .bar::before {
            bottom: 0;
        }
    }
    .name {
        text-transform: uppercase;
        font-weight: 300;
        font-size: calc(1.2rem + 1vw);
        padding-left: calc(1.2rem + 1vw);
        .letter-c {
            color: $lightRed;
            font-weight: 500;
            font-size: 1.7rem;
        }
        .letter-m {
            color: $lightRed;
            font-weight: 500;
            font-size: 1.7rem;
        }
    }
    .list {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 1;
        transform: scale(0);
        background-color: $headerbg;
        .items {
            a {
                font-size: 1.5rem;
                font-weight: 500;
                letter-spacing: .1rem;
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                display: block;
                // &:hover {
                //     color: $lightRed;
                // }
                &::after {
                    content: attr(data-after);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(0);
                    color: rgba(240, 248, 255, 0.021);
                    font-size: 5rem;
                    letter-spacing: 20px;
                    z-index: -1;
                    transition: .3s ease letter-spacing;
                }
            }
            &:hover a::after {
                transform: translate(-50%, -50%) scale(1);
                letter-spacing: initial;
                @include tablet {
                    transform: translate(-50%, -50%) scale(0);
                }
            }
        }
    }
    .list.active {
        transform: scale(1);
    }
    @include tablet {
        .name {
            font-size: 1.2rem;
            margin: 0;
        }
        .hamburger {
            display: none;
        }
        .list {
            display: flex;
            flex: 0 0 50%;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            width: unset;
            height: unset;
            background-color: unset;
            position: static;
            transform: scale(1);
            .items {
                display: inline-block;
                a {
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    font-weight: 300;
                    padding: 0 1rem;
                }
                a:hover {
                    color: $lightRed;
                }
            }
        }
    }
    @include desktop {
        .name {
            font-size: 2rem;
            .letter-c {
                font-size: 2.2rem;
            }
            .letter-m {
                font-size: 2.2rem;
            }
        }
        .list {
            .items {
                a {
                    font-size: 1.5rem;
                }
            }
        }
    }
}


/*keyframes hamburger*/

@keyframes hamburger_puls {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}