.hero {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: $lightblue;
    background-image: linear-gradient(rgba(28, 51, 87, 0.753), rgba(61, 27, 58, 0.39)), url('../images/bgHero.jpg');
    position: relative;
    min-width: 320px;
    background-position: top center;
    display: flex;
    justify-content: start;
    align-items: center;
    .content-hero {
        height: 20rem;
        padding-left: 5%;
        flex-basis: 50%;
        .text-hero {
            color: $white;
            font-size: 4rem;
            padding: 0;
            margin: 0;
            font-weight: 500;
            display: block;
        }
        @include desktop {
            .text-hero {
                font-size: 6rem;
            }
        }
        .text-hero-name {
            display: block;
            font-size: 3rem;
            color: $lightRed;
            font-weight: 400;
            margin-top: 1rem;
        }
        @include desktop {
            .text-hero-name {
                font-size: 5rem;
            }
        }
        .button {
            display: inline-block;
            margin-top: 1rem;
            font-size: 2rem;
            border: 2px solid $lightRed;
            text-align: center;
            text-transform: uppercase;
            padding: .5rem 3rem;
            border-radius: 10px;
            transition: all 1s ease-in-out;
            &:hover {
                background-color: $lightRed;
                color: $black;
                border: 2px solid $black;
            }
        }
    }
}